.main-box{
    display: flex;
    border: 3px solid black;
    flex-direction: column;
    width: fit-content;
    border-radius: 20px;
    transition: filter 1.5s
}

.main-box:hover {
    filter: brightness(0.4);
    cursor: pointer;
    scale: 1.04;
    transition: filter 0.5s
}

.following-page{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.follower-image{
    border-radius: 17px;
    border-bottom: solid black 2px;
    width: 210px;
    height: 210px;
    overflow: hidden;
    object-fit: cover;
}

.bottomdiv{
    display: flex;
    justify-content: space-between;
}

.followbutton{
    position: absolute;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 80px;
    left: 56%;
    top: 17%;
}
