/* TODO Add site wide styles */
button:hover {
    cursor: pointer;
}

button{
    border: 1px solid black;
    width: fit-content;
    background-color: purple;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

#modal-content{
    border-radius: 10px;
    padding: 20px;
}

input{
    background-color: rgb(227, 211, 227);
    border-radius: 20px;
    margin-left: 5px;
}

.error {
    color: red;
}
