.cards-on-main {
    width: 330px;
    height: 50%;
    border: 1px solid black;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px lightgrey;
}

.individual-post:hover {
    filter: brightness(0.4);
    cursor: pointer;
    scale: 1.04;
    transition: filter 0.5s
}

.individual-post {
    position: relative;
    width: fit-content;
    /* height: fit-content; */
    /* border: 2px dotted red; */
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 10px;
    transition: filter 1.5s
}

.new-post-title{
    position: relative;
    bottom: 50%;
}

.board-button {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.7s;
    border: 1px black solid;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}

.individual-post:hover .board-button {
    opacity: 1;
    filter: brightness(1.2);
    cursor: alias;
}

.all-post-page {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.otherstuff {
    width: fit-content;
}

.work-now {
    /* width: fit-content; */
    margin-top: 30px;
    /* height: fit-content; */
}

.options-dropdown {
    position: absolute;
    display: flex;
    z-index: 500;
    background-color: transparent;
    /* border: 1px solid black; */
    width: fit-content;
    border-radius: 10px;
    flex-direction: column;
    top: 200px;
}

.hidden {
    display: none;
}

.image-border {
    position: sticky;
    border-radius: 40px;
    max-width: 100vh;
    border: 2px solid black;
}

.single-post-info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.comment-bar {
    display: flex;
    /* justify-content: end; */
    align-items: end;
    margin-top: 40px;
}

.single-post-page {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(244, 244, 244);
    width: fit-content;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px rgba(238, 238, 238, 0.537);
    background-color: rgba(250, 235, 215, 0.329);
}

.whole-page-single {
    display: flex;
    justify-content: center;
}

.individual-comments {
    display: flex;
}

.post-form {
    display: flex;
    position: relative;
    border: .5px solid gray;
    background-color: rgb(229, 228, 228);
    padding: 100px;
    top: 10px;
    border-radius: 20px;
    margin-left: 11px;
}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-inputs {
    display: flexbox;
    flex-direction: row;
}

.text-icon {
    display: flex;
    align-items: end;
}

.smile-icon {
    font-size: 40px;
    color: white;
    border: none;
    background-color: transparent;
}

.smile-icon:hover {
    color: purple;
    cursor: pointer;
}

.title-input {
    margin-bottom: 10px;
    width: 80%;
}

.image-preview {
    max-width: 80vh;
    max-height: 80vh;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
}

.post-title {
    margin-top: 60px;
    margin-bottom: 1px;
}

.post-title:hover{
    cursor: pointer;
}

.comment-spacing-div {
    /* margin: 10px 0px; */
    word-wrap: break-word;
}

.word-break {
    word-wrap: break-word;
}

.user-image-user{
    display: flex;
    align-items: center;
}

.fit-content{
    margin: 10px 10px;
}

.textarea-comment {
    width: 100%;
    height: auto;
    resize: none;
    border: none;
    background-color: transparent;
    overflow: auto;
    outline: none;
    cursor: default;
    user-select: none;
    pointer-events: none;
}

.comment-dropdown{
    height: 40vh;
    width: fit-content;
    overflow: scroll;
    overflow-x: hidden;
}

.cHidden{
    display: none;
}

.postImage{
    position: relative;
    bottom: 45%;
}

.viewallcomments{
    cursor: pointer;
    width: fit-content;
}
