.profile-dropdown {
  display: flex;
  position: absolute;
  top: 50px;
  right: 10px;
  flex-direction: column;
  z-index: 400;
}

.hidden {
  display: none;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
}
