.signup-page{
    display: flex;
    flex-direction: column;
    width: 500px;
}


.signup-imput{
    display: flex;
    justify-content: space-between;
}
.sighupinput{
    width: 500px;
}

.signuptext{
    display: flex;
    justify-self: center;
    align-items: center;
    margin-left: 164px;
}
