.splash-image{
    border-radius: 7%;
    position: relative;
    width: 20em;
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
    background-size: cover;
}

.splash-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
}

.splash-div{
    width: 15%;
    /* border: 1px solid black; */
    padding: 20px;
}
