.whole-page{
    display: flex;
    flex-wrap: wrap;
}


.other-page{
    display: flex;
    margin: 19px;
    border-radius: 10px;
}

.mainpic{
    height: 240px;
    width: 120px;
    overflow: hidden;
    object-fit: cover;
}

.otherpic{
    height: 120px;
    width: 120px;
    overflow: hidden;
    object-fit: cover;
}

.mainimg{
    display: flex;
}

.otherimg{
    display: flex;
    flex-direction: column;
}

.whole-board-show{
    display: flex;
    flex-wrap: wrap;
}

.board-show {
    margin: 10px;
}

.board-show:hover{
    filter: brightness(0.4);
    cursor: pointer;
    scale: 1.04;
}

.board-button {
    position: absolute;
    top: 10%;
    left: 80%;
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    /* transition: opacity 0.7s; */
    border: 1px black solid;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}

.board-show:hover .board-button {
    opacity: 2;
    /* filter: brightness(1.2); */
    cursor: alias;
}
