.user-image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
    object-fit: cover;
}

.bar{
    display: flex;
    align-items: center;
}

.inside-bar{
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: lightgray;
}

input{
    border: none;
    background-color: transparent;
}

.submit-bar-div{
    border: none;
    background-color: transparent;
    position: relative;
    top: 8px;
    left: 3px;
    color: white;
}

.submit-bar-div:hover{
    cursor: pointer;
    color: purple;
}
